_to_delete/
.DS_Store

games/*/[Ll]ibrary/
games/*/[Tt]emp/
games/*/[Oo]bj/
games/*/[Bb]uild/
games/*/[Bb]uilds/
games/*/[Ll]ogs/
games/*/[Uu]ser[Ss]ettings/
games/*/[Mm]emoryCaptures/
games/*/[Rr]ecordings/
games/*/ExportedObj/

games/*/*.csproj
games/*/*.sln
games/*/*.suo
games/*/*.user
games/*/*.userprefs
games/*/*.pidb
games/*/*.booproj
games/*/*.svd
games/*/*.mdb
games/*/*.opendb
games/*/*.VC.db
games/*/*.unitypackage
games/*/*.app

games/*/.vs/
games/*/.idea/
games/*/.vsconfig
games/*/.consulo/
games/*/crashlytics-build.properties
